@CHARSET "UTF-8";
.container{
	margin: 0 auto;
	margin-top: 25%;
}
.meioLogin{
	text-align:center;
}
.meio{
	border-left:2px solid #F3F3F3;
	border-right:2px solid #F3F3F3;
	border-bottom:2px solid #F3F3F3;
	width:100%;
	height:800px;
	float:left; 
	clear:both
}
.meio h2{
	padding-left:10px;
}
.bloco{
	margin-top:50px;
	padding-left:10px;
}
.rodape{
	text-align:center;
}
.form-inline .btn{
	margin-top: 24px;
}